* {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #A43135;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
}

header img {
    margin: 10px;
    height: 100px;
}

header .right {
    display: flex;
    align-items: center;
}

.right a:first-child {
    color: white;
}

.right a {
    color: #A43135;
    text-decoration: none;
    margin: 0 10px;
}

.right a:hover {
    color: seashell;
    text-decoration: none;
}

.right ion-icon:hover {
    color: seashell;
}

.first-section {
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/productos/coca-cola-caps.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.first-section h2 {
    font-size: 48px;
    padding-bottom: 20px;
    color: white;
    background-color: transparent !important;
    z-index: 2;
    position: relative;
}

.first-section .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.first-section .first-link {
    display: inline-block;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.first-section .first-link h4 {
    color: white;
    font-size: 14px;
    margin: 0;
}

.first a {
    text-decoration: none;
}

.first-section .first-link h4:hover {
    color: seashell;
}

footer p {
    background-color: black;
    color: seashell;
    padding: 20px 0;
    padding-left: 20px;
    text-align: left;
}
